body{
    margin: 0%;
    padding: 0%;
    background: white;
}
.container{
    font-family: "Arial", Helvetica, sans-serif;
    padding: 30px;
    color: #fff;
    font-weight: bold;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    font-size: 150px;
    white-space: nowrap;
}
body {
  margin: 0;
  padding: 0;
  background-color: #000;
}
h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}

  body {margin:0;}
            
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: green;
  }
  
  .active {
    background-color: #04AA6D;
  }

#para1 {
    text-align: center;
    color: green;
    }
#divlarge {
  padding:50px;
  margin-top:30px;
  background-color:#6bbc1a;
      text-align: center;
      color: green;
      }
#divsmall{
  padding:0px;
  margin-top:10px;
  background-color:#568584;    
        }
          


      