.container{
  /*this container is for the clock*/
    font-family: "Arial", Helvetica, sans-serif;
    padding: 30px;
    color: #fff;
    font-weight: bold;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    font-size: 150px;
    white-space: nowrap;
}

div.position {
  position: absolute;
  border: 3px solid #73AD21;
  background-color: lightgreen;
}    
/* the body is the default formatting for the page if formating is not set anywhere else */
body {
  margin: 0;
  padding: 0;
  background-color: chocolate;
  color: black;
}

 /* this section sets what the navigation area looks like */       

  /* this is the navigation area background where there are no tabs */
  ul 
  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: green;
    top: 0;
    width: 100%;
  }
  
  li 
  {
    float: left;
  }
  
  /* This is the formating of the navigation tabs */
  li a 
  {
    display: block;
    color: white;
    background-color: blueviolet;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

/* this is the formating for the navagation tab the mouse is currently hovering over */
  li a:hover:not(.active)
  {
    background-color: chocolate;
  }

/* this is the formating for the navagation tab that you have selected */  
  .active
  {
    color: blue;
    background-color: pink;  
  }
  a {
    text-decoration: none;
  }
  .flex-container-navtop {
    display: flex;
    flex-wrap:wrap; 
    background-color: DodgerBlue;
    justify-content: center;
    color: white;
  }
  .flex-container-navtop >
        a {
          background-color: blue;
          margin: 0.5%; 
          padding: 1%;
          text-align: center;
          line-height: 20px;
          font-size: 1em;
          div {color: white;}
          .active    { color: blue;    background-color: pink;  }
        }
        /*a {
          background-color: blue;
          margin: 0.5%; 
          padding: 1%;
          text-align: center;
          line-height: 20px;
          font-size: 1em;
          a {color: white;}
          .active    { color: blue;    background-color: pink;  }
        }*/
  .flex-container-nav {
    display: flex;
    flex-wrap:wrap; 
    justify-content: center;
    background-color: DodgerBlue;
  }
  .flex-container-nav > div {
    background-color: #f1f1f1;
    margin: 0.5%; 
    padding: 1%;
    text-align: center;
    line-height: 20px;
    font-size: 1em;
  }
    

.flex-container-nav #myLinks {
  display: none;
} 

.flex-container-nav #myLinks1 {
  display: none;
} 

.flex-container-nav #myLinks2 {
  display: none;
}

.flex-container-nav #myLinks3 {
  display: none;
} 

.flex-container-nav #myLinks4 {
  display: none;
} 

.flex-container-green {
  display: flex;
  flex-wrap:wrap; 
  justify-content: center;
  background-color: green;
}

/*div options*/
#divactive {
  background-color:pink;
  color: black;
}
#divactive:hover {
  background-color:Green;
}
#textblack { color: black}

/*#divactive:active {
  background-color:Green;
}*/
.gridkit {
  display: grid;
  grid-template-columns: auto 35%;
  gap: 10px;
  background-color: #2196F3;
  padding: 1%;
}

.gridkit> div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 1%;
  font-size: 1em;
}
#div1 
{
  margin: 20px;
  padding:5px;
  margin-top:20px;
  background-color:white;
  color: black;
  font-size: 1em;
  max-width: 500px;
}

#div2 
{
  margin: 20px;
  padding:5px;
  margin-top:20px;
  background-color:lightgreen;  
  color:black;
  font-size: 1em;
  width: 500px;
}
/* end of second section formatting div2*/    
#div3 
{
  margin: 20px;
  padding:5px;
  margin-top:20px;
  background-color:lightblue;
  color: black;
  font-size: 1em;
  max-width: 500px;
}
#divwhite
{
  margin: 20px;
  padding:5px;
  margin-top:20px;
  background-color:white;
  color: black;
  font-size: 1em;
  max-width: 500px;
}

#divlgreen

{
  margin: 20px;
  padding:5px;
  margin-top:20px;
  background-color:lightgreen;
  color:black;
  font-size: 1em;
  max-width: 500px;
}

#divlgreennav
{

  background-color:lightgreen;  
  color:black;
  font-size: 1em;
}
/* end of second section formatting div2*/    
#divlblue 
{
  margin: 20px;
  padding:5px;
  margin-top:20px;
  background-color:lightblue;
  color: black;
  font-size: 1em;
  max-width: 500px;
}
#divblue 
{
  margin: 20px;
  padding:5px;
  margin-top:20px;
  background-color:blue;
  color: white;
  font-size: 1em;
  max-width: 500px;
}
#divlgrey
{
  margin: 20px;
  padding:5px;
  margin-top:20px;
  background-color:lightgray;
  color: black;
  font-size: 1em;
  max-width: 500px;
}
#divlpink
{
  margin: 20px;
  padding:5px;
  margin-top:20px;
  background-color:lightpink;
  color: black;
  font-size: 1em;
  max-width: 500px;
}
#divlyellow
{
  margin: 20px;
  padding:5px;
  margin-top:20px;
  background-color:lightyellow;
  color: black;
  font-size: 1em;
  max-width: 500px;
}
#divcyan
{
  margin: 20px;
  padding:5px;
  margin-top:20px;
  background-color:cyan;
  color: black;
  font-size: 1em;
  max-width: 500px;
}
#divlcyan
{
  margin: 20px;
  padding:5px;
  margin-top:20px;
  background-color:lightcyan;
  color: black;
  font-size: 1em;
  max-width: 500px;
}

.flex-container-blue {
  display: flex;
  flex-wrap:wrap; 
  justify-content: center;
  background-color: blue;
}


/* formatting for other random things */
        h1 {
          text-align: center;
        }
        
        p {
          font-family: verdana;
          font-size: 1em;
        }
        #para1 {
          text-align: center;
          color: green;
          }
        

/* moved from hamburger.html */

.topnav {
  background-color: grey;
  max-width: 600px;
  }

.topnav a {
  color: blue;
  padding: 10px 16px;
  font-size: 17px;
  display: block;
}

.topnav #myLinks {
  display: none;
}


.topnav a:hover {
  background-color: black;
  color: grey;
}
