.container{
    font-family: "Arial", Helvetica, sans-serif;
    padding: 30px;
    color: #fff;
    font-weight: bold;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    font-size: 150px;
    white-space: nowrap;
}

/* the body is the default formatting for the page if formating is not set anywhere else */
body {
  margin: 0;
  padding: 0;
  background-color: chocolate;
  color: black;
}

 /* this section sets what the navigation area looks like */       

  /* this is the navigation area background where there are no tabs */
  ul 
  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: green;
    top: 0;
    width: 100%;
  }
  
  li 
  {
    float: left;
  }
  
  /* This is the formating of the navigation tabs */
  li a 
  {
    display: block;
    color: white;
    background-color: blueviolet;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

/* this is the formating for the navagation tab the mouse is currently hovering over */
  li a:hover:not(.active)
  {
    background-color: chocolate;
  }

/* this is the formating for the navagation tab that you have selected */  
  .active
  {
    background-color: red;
    color: white;  
  }
  
  a {
    text-decoration: none;
  }

.flex-container-nav {
  display: flex;
  flex-wrap:wrap; 
  background-color: DodgerBlue;
}

.flex-container-nav > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px; 
  text-align: center;
  line-height: 20px;
  /* font-size: 30px; */ 
}
.flex-container-green {
  display: flex;
  flex-wrap:wrap; 
  background-color: green;
}


/* This is the end of the navigation area formating */



/* this div is the first section of each web page */
#div1 
{
  margin: 20px;
  padding:5px;
  margin-top:20px;
  background-color:white;
  color: black;
  width: 375px;
}
/* end of first section formatting div1 */    


/* this div is the formatting for the second section of each web page */
#div2 
{
  margin: 20px;
  padding:5px;
  margin-top:20px;
  background-color:firebrick;  
  color:white;
  width: 375px;
}
/* end of second section formatting div2*/    


/* formatting for other random things */
        h1 {
          text-align: center;
        }
        
        p {
          font-family: verdana;
          font-size: 1em;
        }
        #para1 {
          text-align: center;
          color: green;
          }
        

      