body{
    margin: 0%;
    padding: 0%;
    background: royalblue;
}
.container{
    font-family: "Arial", Helvetica, sans-serif;
    padding: 30px;
    color: #fff;
    font-weight: bold;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    font-size: 150px;
    white-space: nowrap;
}

/* the body is the default formatting for the page if formating is not set anywhere else */
body {
  margin: 0;
  padding: 0;
  background-color: aqua;
}
    
 /* this section sets what the navigation area looks like */       

  /* this is the formating for the navagation tab the mouse is currently hovering over */
  li a:hover:not(.active)
  {
    background-color: slateblue;
  }

  /* this is the formating for the navagation tab that you have selected */  
  .active
  {
    background-color: blue;
    color: white;
  }

  a {
    text-decoration: none;
  }
  
/* This is the end of the navigation area formating */

.flex-container-nav {
  display: flex;
  flex-wrap:wrap; 
  background-color: DodgerBlue;
}

.flex-container-nav > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px; 
  text-align: center;
  line-height: 20px;
  /* font-size: 30px; */ 
}
.flex-container-green {
  display: flex;
  flex-wrap:wrap; 
  background-color: green;
}
.gridkit {
  display: grid;
  grid-template-columns: auto 35%;
  gap: 10px;
  background-color: #2196F3;
  padding: 1%;
}

.gridkit> div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 1%;
  font-size: 1em;
}
/* this div is the first section of each web page */    
#div1 
{
  margin: 20px;
  padding:2%;
  margin-top:20px;
  background-color:white;
  color: black;
  width: 500px;
  margin-bottom:20px;
}
/* end of first section formatting div1 */    


/* this div is the formatting for the second section of each web page */
#div2
{
  margin: 20px;
  padding:2%;
  margin-top:20px;
  background-color:lightgreen;  
  color:black;
  width: 500px;    
  margin-bottom:20px;
}

#div3 
{
  margin: 20px;
  padding:5px;
  margin-top:20px;
  background-color:lightblue;
  color: black;
  font-size: 1em;
  max-width: 500px;
}

/* end of second section formatting div2*/  



/* formatting for other random things */
h1
{
  color: blue;
  text-align: center;
}

p
{
  font-family: verdana;
  font-size: 20px;
}


      