body{
    margin: 0%;
    padding: 0%;
    background: royalblue;
}
.container{
    font-family: "Arial", Helvetica, sans-serif;
    padding: 30px;
    color: #fff;
    font-weight: bold;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    font-size: 150px;
    white-space: nowrap;
}

/* the body is the default formatting for the page if formating is not set anywhere else */
body {
  margin: 0;
  padding: 0;
  background-color: aqua;
}
    
 /* this section sets what the navigation area looks like */       

  /* this is the navigation area background where there are no tabs */         
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: deepskyblue;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  li {
    float: left;
  }
  
  /* This is the formating of the navigation tabs */
  li a {
    display: block;
    color: white;
    background-color: blueviolet;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  /* this is the formating for the navagation tab the mouse is currently hovering over */
  li a:hover:not(.active)
  {
    background-color: slateblue;
  }

  /* this is the formating for the navagation tab that you have selected */  
  .active
  {
    background-color: blue;
  }
/* This is the end of the navigation area formating */



/* this div is the first section of each web page */    
#div1 
{
  padding:50px;
  margin-top:30px;
  height:700px;
  text-align: center;
  background-color:darkcyan;
  color:white;
}
/* end of first section formatting div1 */    


/* this div is the formatting for the second section of each web page */
#div2
{
  padding:0px;
  margin-top:10px;
  background-color:skyblue;
  height:400px;    
}

/* end of second section formatting div2*/  



/* formatting for other random things */
h1
{
  color: white;
  text-align: center;
}

p
{
  font-family: verdana;
  font-size: 20px;
}

  

#para1
 {
  text-align: center;
  color: black;
  }

      